<div class="ed-container">
  <div class="ed-item">
    <table>
      <caption>Listado de contactos</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Edad</th>
          <th>Nacimiento</th>
          <th>Acepta Info</th>
          <th>Color</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="cuerpoTabla">
        
      </tbody>
    </table>
    
    <template id="fila">
      <tr>
        <td class="identificador"></td>
        <td class="nombre"></td>
        <td class="correo"></td>
        <td class="edad"></td>
        <td class="nacimiento"></td>
        <td class="acepta"></td>
        <td class="color"></td>
        <td class="acciones">
          <button type="button" class="accion eliminar">Eliminar</button>
          <button type="button" class="accion actualizar">Actualizar</button>
        </td>
      </tr>
    </template>
  </div>
</div>